
@font-face {
    font-family: 'Xisfani';
    src: url('fonts/Xisfani.ttf') format('TrueType');
}


body {
    font-stretch: normal;
    font-family: 'Xisfani';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('img/10_page_background/desert.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.br-16 {
    border-radius: 16px;

}

h1 {
    font-family: 'Xisfani';
    font-weight: bolder;
    color: #FF9800;
    text-shadow: 2px 2px #000000;
}

#canvasMask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 720px;
}

canvas {
    display: block;
    background-color: #000000c2;
    -webkit-box-shadow: 0 0 20px 10px #000000c2;
    -moz-box-shadow: 0 0 20px 10px #000000c2;
    box-shadow: 0 0 20px 10px #000000c2;
}

.gameButtonContainer {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
}

.optionButtons {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.optionButtons img {
    padding: 8px 8px;
}

#soundIcon {
    cursor: pointer;
}

#fullscreenIcon {
    cursor: pointer;
}

#controlInstructions {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: #FF9800;
    border: 6px solid #43A047;
}

#controlInstructionsTable {
    border-collapse: separate;
    border-spacing: 100px 0;
}

.closeControlInstructionsButton {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.controlText {
    font-size: 20px;
}

.buttonImg {
    width: 56px;
    height: 48px;
}

#turnDeviceMessage {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF9800;
}

#turnDeviceMessage img {
    width: 55%;
}

#turnDeviceMessage h2 {
    text-align: center;
}

#mobileControlButtonContainer {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: space-around;
    align-items: end;
    pointer-events: none;
}

.leftMobileControls {
    gap: 20%;
    margin-bottom: 2%;
    pointer-events: auto;
}

.rightMobileControls {
    gap: 20%;
    margin-bottom: 2%;
    pointer-events: auto;
}

.mobileControlButtons {
    background-color: #FF9800;
    border: 3px solid black;
    border-radius: 50%;
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileControlButtons:hover {
    border: 3px solid #039BE5;
}

.mobileControlButtons img {
    height: 20px;
}

.gameButtons {
    position: absolute;
    background: linear-gradient(to bottom, #FF9800 5%, #039BE5 100%);
    border: 2px solid #43A047;
    display: inline-block;
    cursor: pointer;
    font-family: 'Xisfani';
    font-weight: bolder;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ded17c;
}

.gameButtons:hover {
    background: linear-gradient(to bottom, #039BE5 5%, #FF9800 100%);
}

#startGameButton {
    top: 8%;
    left: 18%;
}

#controlsGameButton {
    top: 8%;
    right: 18%;
}

#restartGameScreen {
    z-index: 5;
    position: absolute;
    background-color: #00000074;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: end;
    pointer-events: none;
}

#restartGameButton {
    bottom: 2%;
    pointer-events: auto;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #canvasMask {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
        width: 100%;
        border-radius: 0px !important;
    }

    #canvasMask {
        width: 100% !important;
    }
}