@font-face {
    font-family: 'Mucho-Power';
    src: url('fonts/Mucho_Power.otf') format('opentype');
}

body {
    font-stretch: normal;
    font-family: 'Mucho-Power';
    font-size: 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('img/10_page_background/desert.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    letter-spacing: -5px;
    word-spacing: -20px;
}

#content {
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

canvas {
    display: block;
    background-color: black;
    -webkit-box-shadow: 0 0 20px 10px #000000;
    -moz-box-shadow: 0 0 20px 10px #000000;
    box-shadow: 0 0 20px 10px #000000;
    border-radius:16px;
}

#startGameButton {
	box-shadow:inset 0px 0px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:16px;
	border:2px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
    font-family: 'Mucho-Power';
    letter-spacing: -1px;
    word-spacing: -5px;
	font-size:16px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ded17c;
}
#startGameButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
#startGameButton:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}